.home {
    display: flex;
    padding: 0.5rem;
    background-color: rgba(66, 2, 40, 0.186);
    padding-left: 1rem;
}

.card-1 {
    background-color: white;
    width: 25%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

    box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.14);
}

.card-2 {
    background-color: white;
    width: 70%;
    padding: 10px;
    margin-left: 0.5rem;
    border-radius: 5px;

    box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -4px 2px 9px 4px rgba(0, 0, 0, 0.14);
}

.btn-track {
    background-color: rgb(155, 3, 94);
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-track-txt {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.btn-track:hover{
    background-color: rgb(217, 4, 132);
}

.from-input{
    width: 90%;
    padding: 8px;
    padding-left: 10px;
    border: 1px solid rgb(136, 135, 135);
    border-radius: 5px;
}
.btn-loc-submit{
    background-color: rgb(155, 3, 94);
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-loc-submit:hover{
    background-color: rgb(217, 4, 132);
}
.choosed-img{
    height: 60px;
    width: 60px;
}