.login {
    height: calc(90vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginTitle {
    position: absolute;
    top: 75px;
    color: lightgray;
}

.wrapper {
    width: 60%;
    height: 75%;
    box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit {
    width: 200px;
    background-color: #db045a;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.submit:hover {
    background-color: #f62a7b;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.line {
    width: 0.5px;
    height: 70%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.or {
    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    color: gray;
    background-color: white;
    font-weight: bold;
}

.loginButton {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
}

.signup {
    background-color: #df4930;
    text-decoration: none;
}

.signup:hover {
    background-color: #fa6950;
}

.admin {
    background-color: #078be3;
    text-decoration: none;
}

.admin:hover {
    background-color: #33a6f3;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

input {
    width: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.admin-wrapper {
    width: 30%;
    height: 75%;
    box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.signup-wrapper {
    margin-top: 5rem;
    width: 30%;
    height: 100%;
    box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px -1px 30px 3px rgba(0, 0, 0, 0.39);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.signupTitle {
    color: lightgray;
}